
.reg{
    position: relative;
    left: 38%;
    margin-top: 50px;
    background: rgb(52, 54, 58);
    text-align: center;
    border-radius: 50px;
    width: 444px;
}

.form-control{
    top: 90px;
    background-color: aliceblue;
    font-size: x-large;
    margin: 30px 0 19px 0;
    border-radius: 10px;
}

.area{
    margin-left: 9px;
    height: 80px;
    width: 400px;
    background: aliceblue;
}
.btn{
    width: 190px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(201, 28, 28);
    font-size: large;
    color: aliceblue;
    transition: 0.3s;
    margin-top: 20px;
}
.btn:hover{
    color: rgb(201, 28, 28);
    background: #b2b2b2;
}
.information{
    position: relative;
    left: 63%;
    bottom: 450px;
}
.help{
    position: relative;
    border: 2px solid burlywood;
    border-radius: 30px;
    background: rgb(52, 54, 58);
    width: 250px;
    margin-top: 40px;
    text-align: center;
}
.example{
    color: aliceblue;
    margin-top: 10px;
    font-size: large;
}
#main{
    position: relative;
    width: 100px;
    background: aliceblue;
    text-align: center;
    font-size: x-large;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.3s;
    text-decoration: none;
}
#main:hover{
    background: #b2b2b2;
    color: #ca121a;
}
.message{
    color: red;
    position: absolute;
    
}