
body{
	background-color: #b2b2b2;
	margin: 0;
}
#avatar{
	position: absolute;
	left: 88%;
	top: 5px;
	width: 76px;
}
#name, #surname, #logout{
	position: absolute;
	left: 78%;
	color: aliceblue;
	font-size: 40px;
	top: 0;
}
#surname{
	top: 36px;
}
#logout{
	left: 93%;
	width: 110px;
	height: 30px;
	text-align: center;
	top:23px;
	font-size: x-large;
	border: 2px solid black;
	border-radius: 20px;
	transition: 0.3s;
	text-decoration: none;
}
#logout:hover{
	background: #b2b2b2;
	color: #ca121a;
}

#Шапка{
	display: inline-block;
	width: 100%;
	height: 90px;
}
.container{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 180px;
}
.record{
	display: inline-block;
	width: 450px;
	height: 250px;
	border: 2px solid black;
	border-radius: 50px;
	margin-right: 50px;
	text-align: left;
	background: linear-gradient(90deg,
	rgba(148,23,23,1) 22%,
	rgba(182,15,15,1) 23%,
	rgba(202,18,26,1) 24%);
}
.noEvents{
	font-size: xx-large;
	color: rgb(52, 54, 58);
	text-align: center;
}
.time{
	font-size: 50px;
	color: aliceblue;
	display: inline-block;
	transform: rotate(270deg);
	position: relative;
	right: 10px;
	top: 90px;
}
.heading, .description, .date, .id{
	display: inline-block;
	position: relative;
	color: aliceblue;
	font-size: 33px;
	bottom: 20px;
	margin-bottom: 12px;
}
.description{
	font-size: 21px;
	width: 330px;
	height: 147px;
	color: black;
	left: 110px;
}
.date{
	left: 110px;
}
.edit{
	position: relative;
	top: 30px;
}
.id{
	right: 130px;
	bottom: 30px;
	color: rgb(52, 54, 57);
}
.add{
	display: block;
	position: relative;
	width: 130px;
	font-size: 30px;
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 10px;
	transition: 0.3s;
	text-align: center;
	background: aliceblue;
	text-decoration: none;
	color: #ca121a;
	left: 45%;
}
.add:hover{
	background: #ca121a;
	color: aliceblue;
}
