body{
    background-color: #b2b2b2;
    margin: 0px;
}

header{
    margin-bottom: -40px;
}

#Шапка{
	display: inline-block;
	width: 100%;
	height: 90px;
}

.name{
	position: absolute;
	left: 80%;
	top: 12px;
}

.FIO{
    position: absolute;
    display: inline-block;
    bottom: 30px;
    font-family: BigNoodleTitling;
    color: aliceblue;
    font-size: large;
}

.ava{
    position: relative;
    display: inline-block;
    width: 76px;
    left: 80px;
    bottom: 7px;
}

.mainP{
    height: 50px;
    position: relative;
    bottom: 70px;
}

.profile{
    position: relative;
    text-align: center;
    font-family: BigNoodleTitling;
    font-size: 46px;
}

.avatar{
    width: 130px;
    position: relative;
    top: 25px;
    left: 6%;
}

.place{
    height: 100px;
}

.fullName{
    font-style: normal;
    position: relative;
    color: aliceblue;
    font-size: 30px;
    bottom: 60px;
    left: 210px;
}

.edit{
    position: relative;
    left: 650px;
    bottom: 30px;
    height: 20px;
}

.profilePlace_2{
    background-color: rgb(60, 60, 60);
    width: 900px;
    height: 170px;
}

.profileData_2{
    position: relative;
    height: 170px;
    left: 100px;
}

.text{
    font-family: BigNoodleTitling;
    color: aliceblue;
    font-size: xx-large;
    position: relative;
}
.URFU{
    bottom: 140px;
    left: 100px;
}
.email{
    bottom: 132px;
    left: 185px;
}
.number{
    bottom: 129px;
    left: 280px;
}
.bthdate{
    bottom: 121px;
    left: 265px;
}

.profilePlace_3{
    position: relative;
    left: 790px;
    bottom: 260px;
}

.font{
    position: relative;
    width: 400px;
}

#f1{
    height: 30px;
    margin-bottom: 25px;
}

.buttons{
    position: relative;
    bottom: 280px;
    left: 50px;
}